In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
df=pd.read_csv("medicine.csv")

In [27]:
df.head()

,Drug_Name,Reason,Description
0,A CN Gel(Topical) 20gmA CN Soap 75gm,Acne,Mild to moderate acne (spots)
1,A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...,Acne,A RET 0.025% is a prescription medicine that i...
2,ACGEL CL NANO Gel 15gm,Acne,It is used to treat acne vulgaris in people 12...
3,ACGEL NANO Gel 15gm,Acne,It is used to treat acne vulgaris in people 12...
4,Acleen 1% Lotion 25ml,Acne,treat the most severe form of acne (nodular ac...

In [28]:
df.shape

(9720, 3)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9720 entries, 0 to 9719
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Drug_Name    9720 non-null   object
 1   Reason       9720 non-null   object
 2   Description  9720 non-null   object
dtypes: object(3)
memory usage: 227.9+ KB

In [30]:
df.describe()

,Drug_Name,Reason,Description
count,9720,9720,9720
unique,9626,50,290
top,Wounsol Ointment 15gm,Hypertension,lower high blood pressure (hypertension)
freq,2,2505,578

In [31]:
df.dtypes

Drug_Name      object
Reason         object
Description    object
dtype: object

In [32]:
df.isnull().sum()

Drug_Name      0
Reason         0
Description    0
dtype: int64

In [33]:
df["Drug_Name"].value_counts()

Wounsol Ointment 15gm                                                  2
Zidovudine 300mg Tablet 10'S                                           2
Zimivir 1000mg Tablet 3'SZimivir 500mg Tablet 3'S                      2
Zosovir 400mg Tablet 28'S                                              2
Zoster 800mg Tablet 10'SZoster 5% Cream 5gmZoster 400mg Tablet 10'S    2
                                                                      ..
Furic 80mg Tablet 10'S                                                 1
Furic 40mg Tablet 10'SFURIC 80mg Tablet 15'sFuric 40mg Tablet 15'S     1
Furitas 80mg Tablet 10'S                                               1
Goustat 40mg Tablet 10'SGoustat 80mg Tablet 10'S                       1
Nebicip 2.5mg Tablet 10'SNebicip 5mg Tablet 10'S                       1
Name: Drug_Name, Length: 9626, dtype: int64

In [34]:
df.drop_duplicates(inplace=True)

In [35]:
df.shape

(9626, 3)

In [36]:
df["Description"]

0                           Mild to moderate acne (spots)
1       A RET 0.025% is a prescription medicine that i...
2       It is used to treat acne vulgaris in people 12...
3       It is used to treat acne vulgaris in people 12...
4       treat the most severe form of acne (nodular ac...
                              ...
9654                              used for treating warts
9655                        used to soften the skin cells
9656                                       used for scars
9657                                      used for wounds
9658    used to treat and remove raised warts (usually...
Name: Description, Length: 9626, dtype: object

In [37]:
df["Description"]=df['Description'].apply(lambda x:x.split())
df['Reason']=df['Reason'].apply(lambda x:x.split())

In [38]:
df['Description']=df['Description'].apply(lambda x:[i.replace(" ","") for i in x])

In [39]:
df['tags']=df['Description']+df['Reason']

In [40]:
df.head()

,Drug_Name,Reason,Description,tags
0,A CN Gel(Topical) 20gmA CN Soap 75gm,[Acne],"[Mild, to, moderate, acne, (spots)]","[Mild, to, moderate, acne, (spots), Acne]"
1,A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...,[Acne],"[A, RET, 0.025%, is, a, prescription, medicine...","[A, RET, 0.025%, is, a, prescription, medicine..."
2,ACGEL CL NANO Gel 15gm,[Acne],"[It, is, used, to, treat, acne, vulgaris, in, ...","[It, is, used, to, treat, acne, vulgaris, in, ..."
3,ACGEL NANO Gel 15gm,[Acne],"[It, is, used, to, treat, acne, vulgaris, in, ...","[It, is, used, to, treat, acne, vulgaris, in, ..."
4,Acleen 1% Lotion 25ml,[Acne],"[treat, the, most, severe, form, of, acne, (no...","[treat, the, most, severe, form, of, acne, (no..."

In [57]:
dff=df.drop(["Reason","Description"],axis=1)

In [58]:
dff.head()

,Drug_Name,tags
0,A CN Gel(Topical) 20gmA CN Soap 75gm,"[Mild, to, moderate, acne, (spots), Acne]"
1,A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...,"[A, RET, 0.025%, is, a, prescription, medicine..."
2,ACGEL CL NANO Gel 15gm,"[It, is, used, to, treat, acne, vulgaris, in, ..."
3,ACGEL NANO Gel 15gm,"[It, is, used, to, treat, acne, vulgaris, in, ..."
4,Acleen 1% Lotion 25ml,"[treat, the, most, severe, form, of, acne, (no..."

In [59]:
dff["tags"]=dff['tags'].apply(lambda x:" ".join(x))

In [60]:
dff.head()

,Drug_Name,tags
0,A CN Gel(Topical) 20gmA CN Soap 75gm,Mild to moderate acne (spots) Acne
1,A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...,A RET 0.025% is a prescription medicine that i...
2,ACGEL CL NANO Gel 15gm,It is used to treat acne vulgaris in people 12...
3,ACGEL NANO Gel 15gm,It is used to treat acne vulgaris in people 12...
4,Acleen 1% Lotion 25ml,treat the most severe form of acne (nodular ac...

In [61]:
dff["tags"]=dff["tags"].apply(lambda x:x.lower())

In [62]:
dff.head()

,Drug_Name,tags
0,A CN Gel(Topical) 20gmA CN Soap 75gm,mild to moderate acne (spots) acne
1,A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...,a ret 0.025% is a prescription medicine that i...
2,ACGEL CL NANO Gel 15gm,it is used to treat acne vulgaris in people 12...
3,ACGEL NANO Gel 15gm,it is used to treat acne vulgaris in people 12...
4,Acleen 1% Lotion 25ml,treat the most severe form of acne (nodular ac...

In [63]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(stop_words='english',max_features=5000)

In [65]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [66]:
dff['tags']=dff['tags'].apply(stem)

In [68]:
cv.fit_transform(dff['tags']).toarray().shape

(9626, 806)

In [69]:
vectors=cv.fit_transform(dff['tags']).toarray()

In [72]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(vectors)
similarity=cosine_similarity(vectors)

In [87]:
def recommend(medicine):
    medicine_index = dff[dff['Drug_Name']==medicine].index[0]
    distances = similarity[medicine_index]
    medicines_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:10]
    
    for i in medicines_list:
        print(dff.iloc[i[0]].Drug_Name)

In [88]:
recommend("Paracetamol 125mg Syrup 60mlParacetamol 500mg Tablet 10'S")

Oxypamol D Tablet 10'S
Pacimol MF Tablet 10'S
Painil Plus 100/500mg Tablet 10'S
Pamagin Plus Gel 30gm
Paracetamol 125mg Syrup 60mlParacetamol 500mg Tablet 10'S
Parafon Dsc 500mg Tablet 6'S
Paxin TC Tablet 10'S
PECRIN 50mg Capsule 10's
Pepzol D Tablet 10'S